<ion-header>
  <ion-toolbar>
    <ion-title>Sobre nosotros</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" shape="round" fill="solid" (click)="volver()">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Quiénes somos?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p style="margin-bottom: 1em;">
        En respuesta a los desafíos que la pandemia ha traído a la educación superior, las instituciones han enfrentado la necesidad de adaptarse a nuevas realidades. Aunque la modalidad remota ha permitido la continuidad académica, el regreso a la presencialidad ha generado nuevos retos, entre ellos, el transporte de estudiantes después de la jornada vespertina.
      </p>
      <p style="margin-bottom: 1em;">
        En Duoc UC, hemos observado que muchos estudiantes enfrentan dificultades para regresar a casa debido a la falta de transporte público en horas tardías, el alto costo de los servicios particulares y la ausencia de un sistema institucional de movilidad. Estas barreras impactan directamente en la seguridad y bienestar de nuestros estudiantes.
      </p>
      <p style="margin-bottom: 1em;">
        Para abordar este problema, nace TeLlevoAPP, una aplicación desarrollada por estudiantes de Duoc UC con el fin de conectar a aquellos que cuentan con vehículo propio con compañeros que necesiten un medio seguro y accesible para volver a sus hogares. Compatible tanto con Android como iOS, TeLlevoAPP fomenta la colaboración entre estudiantes y promueve una solución comunitaria a un problema cotidiano.
      </p>
      <p style="margin-bottom: 1em;">
        Nuestro objetivo es crear un ambiente más seguro, accesible y solidario para todos, facilitando el transporte y contribuyendo a una comunidad educativa más unida.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
