<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del Viaje</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Direcciones del Viaje</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Destino:</strong> {{ viaje.destino }}</p>
      <p><strong>Distancia:</strong> {{ viaje.routeDirections.distance }}</p>
      <p><strong>Duración Estimada:</strong> {{ viaje.routeDirections.duration }}</p>
      <p><strong>Costo Total:</strong> ${{ viaje.costo.toFixed(2) }}</p>
    </ion-card-content>
  </ion-card>

  <div #map style="height: 300px; width: 100%; margin-top: 20px;"></div>
  <div #trayecto id="trayecto" style="height: 150px; width: 100%; margin-top: 10px; overflow-y: auto; border: 1px solid #ccc; padding: 10px;"></div>

 
  <ion-button expand="block" color="primary" (click)="finishTrip()">
    {{ showQR ? 'Finalizar Viaje' : 'Terminar Viaje' }}
  </ion-button>


  <ion-card *ngIf="showQR">
    <ion-card-header>
      <ion-card-title>Total a Pagar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Total a Pagar: ${{ viaje.costo.toFixed(2) }}</p>
      <qrcode [qrdata]="viaje.costo.toString()" [width]="150"></qrcode>
    </ion-card-content>
  </ion-card>
</ion-content>
